@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;600&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
  max-width: 80%;
  background-color: black;
  color: white;
  margin: 0 auto;
  box-sizing: border-box;
}

.day-container {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: start;
  align-items: start;
  gap: 0.5em;
  font-size: 0.5em;
  font-weight: 500;
}

.week-number {
  min-width: 32px;
  font-weight: 900;
  font-size: 1.2em;
  color: gray;
}

.day {
  min-width: 16px;
  min-height: 16px;
  margin: 2px;
  background-color: #404040;
  max-width: 16px;
  max-height: 16px;
  /*font-size: 8px;*/
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: black;
}

.day-elapsed {
  min-width: 16px;
  min-height: 16px;
  margin: 2px;
  background-color: lightgray;
  max-width: 16px;
  max-height: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: black;
}

.day-filler {
  min-width: 16px;
  min-height: 16px;
}

.separator {
  display: flex;
  align-items: center;
  width: 100%;
}

.separator-text {
  padding: 0 8px;
  white-space: nowrap;
  font-weight: 500;
  font-family: Montserrat, "serif";
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: white;
}

.current-day {
  border-radius: 100%;
  background-color: white;
  min-width: 8px;
  min-height: 8px;
}

.month-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 2fr));
}

.month {
  padding: 1em;
  display: inline-flex;
  flex-direction: column;
  vertical-align: center;
  border-radius: 4px;
  font-size: 20px;
  color: gray;
  font-weight: 500;
}

.year-title {
  font-size: 2em;
  color: gray;
  font-family: Montserrat, "sans-serif";
  font-weight: 500;
}

.year-separator {
  flex-grow: 1;
  height: 1px;
  background-image: linear-gradient(to right, gray, transparent);
}

.stats {
  margin-top: 16px;
  text-align: end;
  display: flex;
  flex-direction: column;
}

.stats > * {
  margin: 4px 0;
  width: fit-content;
  align-self: flex-end;
}

.time-left {
  margin-top: -8px;
  text-align: center;
}

.time-left > * {
  margin: 4px 0;
}

.time-left-header {
  font-size: 1.25rem;
  padding-top: 8px;
  color: gray;
}
