<div class="month">
    {{ month_names[month - 1] }}

    <div class="day-container">
        <div>Mon</div>
        <div>Teu</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
        <div>Sun</div>

        {% for offset in range(calendar[year][month].offset) %}
            <div class="day-filler"></div>
        {% endfor %}

        {% for day in range(calendar[year][month].completed) %}
            <div class="day-elapsed"></div>
        {% endfor %}

        {% for day in range(calendar[year][month].remaining) %}
            <div class="day">
                {% if day == 0 and calendar[year][month].completed > 0 %}
                    <div class="current-day"></div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
